a, a:visited {
	color: #4183C4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

pre, code {
	font-size: 12px;
}

pre {
	width: 100%;
	overflow: auto;
}

small {
	font-size: 90%;
}

small code {
	font-size: 11px;
}

.placeholder {
	outline: 2px dashed #4183C4;
	background-color: #0b3e6f;
}

.mjs-nestedSortable-error {
	background: #fbe3e4;
	border-color: transparent;
}

#tree {
	width: 550px;
	margin: 0;
}



ol.sortable, ol.sortable ol {
	list-style-type: none;
	display: block;
}

ol.sortable ol {
	border: solid 1px rgba(0, 0, 0, .3);
	border-top: none;
}

.sortable li div {

	cursor: move;
	border: solid 1px rgba(0, 0, 0, .3);
	margin: 0;
	padding: 3px;
	border-bottom: none;
}

li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
	border-color: #999;
}

.disclose, .expandEditor {
	cursor: pointer;
	width: 20px;
	display: none;
}

.sortable li.mjs-nestedSortable-collapsed > ol {
	display: none;
}

.sortable li.mjs-nestedSortable-branch > div > .disclose {
	display: inline-block;
}

.sortable span.ui-icon {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.menuDiv {
	background: #EBEBEB;
}

.menuEdit {
	background: #FFF;
}

.itemTitle {
	vertical-align: middle;
	cursor: pointer;
}

.deleteMenu {
	float: right;
	cursor: pointer;
}

h1 {
	font-size: 2em;
	margin-bottom: 0;
}

h2 {
	font-size: 1.2em;
	font-weight: 400;
	font-style: italic;
	margin-top: .2em;
	margin-bottom: 1.5em;
}

h3 {
	font-size: 1em;
	margin: 1em 0 .3em;
}

p, ol, ul, pre, form {
	margin-top: 0;
	margin-bottom: 1em;
}

dl {
	margin: 0;
}

dd {
	margin: 0;
	padding: 0 0 0 1.5em;
}

code {
	background: #e5e5e5;
}

input {
	vertical-align: text-bottom;
}

.notice {
	color: #c33;
}
