@import "../../fr.intranets/css/utils";
@import "../../bootstrap/dist/css/bootstrap.min.css";

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Futura/Futura Heavy BT.ttf"),
}

.mdl-layout__container {
  height: unset !important;
}

html {
  height: unset;
}

body {
  background-color: unset;
  background-image: url('../images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  font-family: "Gilroy" !important;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}

.font {

}

.mdl-layout__header-row {
  background-color: black;
  background-image: url("../images/nav.png");
  background-repeat: repeat-x;
  background-size: 100% 65px;

  .mdl-layout-spacer {

  }

  .mdl-navigation {

  }
}

.mdl-card {
  background: none;
  background-image: url('../images/card_bg.png');
  background-size: cover;
  background-size: 100% 100%;
  background-position: 0 0;
  box-shadow: none;
  width: 90%;
  box-shadow: 0px 0px 40px #000;
  @include effect(.4);

  &:hover {
	box-shadow: 0px 0px 20px #FFF;

  }

  & .mdl-button {

  }
}

.mdl-layout__drawer-button {
  background-color: white;
  background-image: url("../images/bg_map.jpg");
  border-radius: 50%;
  color: black;

  & i {
	color: black;
  }
}

.mdl-button--fab {
  height: 45px;
}

.mdl-button {
  background-image: url("../images/button_bg.png");
  margin: 0px;
  opacity: 0.9;
  color: rgba(255, 167, 115, .4);
  font-weight: bold;
  height: auto;
  color: #b49862 !important;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px 5px;

  & * {
	color: #b49862 !important;
  }

  & i {
	color: black !important;
  }

  &:hover {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .9);
	text-decoration: none;
  }
}

.mdl-button--fab.mdl-button--colored {
  background: none;
  background-image: url("../images/bg_map.jpg");
  color: black;
  width: 25px;
  height: 50px !important;
  padding-top: 10px;
}

footer.mdl-mini-footer {
  background-color: black;
  border-top: solid 2px orange;
  z-index: 9;
}

/*
MENU
 */
.mdl-layout__header {
  position: relative;

  #site_nav {
	position: absolute;
	right: 0px;

	& .mdl-navigation__link {
	  line-height: 22px;
	  text-align: center;
	  font-family: "Gilroy";
	  font-weight: bold;

	}
  }

  .mdl-layout-title {
	background-image: url("../images/ipaf_menu.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	color: rgba(0, 0, 0, 0);
	height: 100%;
  }

}

.visible- {
  &true {
	visibility: visible;
  }

  &false {
	visibility: hidden;
  }
}

.mdl-navigation.mdl-layout--large-screen-only {
  font-family: "Gilroy";
  font-size: 36px;
}

/*
END MENU
 */
.mdl-card__supporting-text {
  width: 100%;
}

footer.mdl-mini-footer *, footer, footer a {
  color: white;
}

h1, h2, h3, h4, h5 {
  color: rgba(0, 0, 0, .8);
  font-family: "Gilroy";
  display: block;
}

h1 {
  font-size: 64px;
  padding: 22px 0px;
}

h2 {
  font-size: 44px;
  padding: 17px 0px;
}

h3 {
  font-size: 32px;
  padding: 15px 0px;
}

h4 {
  font-size: 24px !important;
  padding: 12px 0px !important;
}

p {
  font-family: "Gilroy";
}

hr {
  background-image: url("../images/hr.jpg");
  background-repeat: no-repeat;
  height: 20px;
  width: 100%;
  background-position: center center;
  color: rgba(0, 0, 0, 0);
  border: none;
  display: block;
}

@mixin border_table($direction) {
  border-#{$direction}: dotted black 4px;
}

table {
  width: 100%;

  & thead {
	tr {
	  @include border_table('bottom');

	  th {
		@include border_table('right');
		padding: 35px;
		margin: 15px;
	  }
	}
  }

  & tbody {
	& tr {
	  & td {

		@include border_table('right');
		@include border_table('bottom');
		padding: 15px;
	  }
	}
  }

  & tfoot {
	& tr {
	  & td {

		@include border_table('right');
		@include border_table('bottom');
		padding: 15px;
	  }
	}
  }
}

a {
  color: black !important;
}

footer a {
  color: white !important;
}

//relou

.mdl-mini-footer__left-section {
  width: 100%;
  color: white;

  & * {
	color: white;
  }

}

.row > div {
  margin-bottom: 6px;
  margin-top: 6px;
}


.container {
  margin-top: 30px;
  margin-bottom: 100px;
}

.pagination {
  display: inline-block;

  & span {


	& a {
	  position: relative;
	  display: inline-block;
	  width: 40px;
	  height: 40px;
	  &.active{
		color: red;
	  }

	}
  }
}
